<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hiku的委託聯絡/作品網站">
    <meta name="author" content="Hiku">

    <title>Hiku</title>
    <!--icon-->
    <link rel="icon" href="img/Hiku_logo_ico.ico" type="icon">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/agency.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
</head>

<body id="page-top" class="">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js">
        $('.one-time').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            adaptiveHeight: true
        });
    </script>
    <!-- Navigation -->
    <nav id="mainNav" class="navbar fixed-top navbar-expand-md navbar-custom bg-dark ">
        <div class="container">
            <div class="row ">
                <div class="col-2 align-middle">
                    <a class="float-start navbar-brand " href="#page-top">
                        <img class="align-top ms-auto" width="30%" src="img/Hikulogo.png" alt="Logo">
                    </a>
                </div>
                <div class="col-10 align-middle ms-auto">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <nav class="float-end navbar-header ">
                        <button type="button" class="navbar-toggler  " data-bs-toggle="collapse"
                            data-bs-target="#bs-example-navbar-collapse-1" style="color: #FFF;">
                            <!-- <span class="navbar-toggler-icon bg-light"> </span> -->
                            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                        </button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class=" collapse navbar-collapse " id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav ">
                                <li>
                                    <a class=" m-3" href="#services">關於我</a>
                                </li>
                                <li>
                                    <a class=" m-3" href="#portfolio">作品集</a>
                                </li>
                                <li>
                                    <a class=" m-3" href="#about">學習經歷</a>
                                </li>
                                <li>
                                    <a class=" m-3" href="#contact">聯絡我</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->

                    </nav>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
    </nav>
    <!-- Header -->
    <!--<header>
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div class="intro-text">
                    <div class="intro-lead-in">Welcome To Hiku's web!</div>
                    <div class="intro-heading">僕らが生きる意味を忘れない</div>
                    <a href="#contact" class=" btn btn-xl">聯絡我們</a>   
                </div>
                <div class="d-flex flex-row-reverse bd-highlight"><img class="img-fluid w-75 d-none d-sm-block "  src="img/Hikulogo.png" alt="Hiku Logo"></div>
                </div> 
                <video class="videobg" autoplay muted loop>
                    <source src="/Bs5_Vue/img/title_video.mp4">
                </video>
        </div>
    </header>-->

    <!--02-->
    <header>
        <div class="row no-gutters">
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="15000">
                        <img id="photolight" class="fullscreen-bg-img" src="img/portfolio/大人.jpg" alt="大人">
                        <div class="container">
                            <div class="carousel-caption text-start">
                                <h1>影片剪輯</h1>
                                <p>遊戲精華、教學影片、訪談翻譯</p>
                                <p><a class="btn btn-lg btn-primary" href="#contact">聯絡我</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="15000">
                        <div class="container">
                            <video id="photolight" class="fullscreen-bg-img" src="title_video.mp4" alt="墜入地獄" autoplay
                                muted></video>
                            <div class="carousel-caption">
                                <h1>音樂PV製作</h1>
                                <p>練習製作過多首音樂PV和MV</p>
                                <p><a class="btn btn-lg btn-primary" href="#contact">聯絡我</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="15000">
                        <img id="photolight" class="fullscreen-bg-img" src="img/portfolio/大人.jpg" alt="大人">
                        <div class="container">
                            <div class="carousel-caption text-end">
                                <h1>日文翻譯</h1>
                                <p>歌曲、對話、文章翻譯</p>
                                <p><a class="btn btn-lg btn-primary" href="#contact">聯絡我</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center text-white">
                    <h1 class="section-heading ">關於我</h1>
                    <h3 class="section-subheading text-white-50" style="margin:50px">
                        現年21歲。從大學開始接觸設計相關知識，目前已半熟練AE、PR、PS等等軟體基本操作，對於調光調色也有一定基礎。空閒時間則製作有關於日文歌曲的影片及翻譯，目前正在學習3D軟體中。</h3>
                </div>
                <div class="col-lg-12 text-center text-white">
                    <h3 class="section-heading mb-5 ">我可以幫您製作</h3>
                </div>
            </div>
            <div class="row text-center">
                <div v-for="item in Services" class="col-md-4" id="services">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x" style="color:#E9CF6B"></i>
                        <i class="fa fa-stack-1x fa-inverse" v-bind:class="item.icon"></i>
                    </span>
                    <h4 class="service-heading text-white">{{item.title}}</h4>
                    <p class="text-white-50">{{item.text}}</p>
                </div>
                <!--<div class="row text-center text-white">
                <div class="col-md-4 ">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur porro laborum fuga repellat necessitatibus corporis nulla, in ex velit recusandae obcaecati maiores, doloremque quisquam similique, tempora aspernatur eligendi delectus! Rem.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                        architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                        architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div> -->
            </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">作品集</h2>
                    <h3 class="section-subheading text-muted">PV影片</h3>
                </div>
            </div>
            <div class="g-3 row">
                <div v-for="item in Portfolio" class="col-md-4 col-sm-6 col-xxl-3 portfolio-item">
                    <a v-bind:href="item.href" class="portfolio-link" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img :src="item.imgSrc" class="w-100" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{item.title}}</h4>
                        <p class="text-muted">{{item.subtitle}}</p>
                    </div>
                </div>
                <!--<div class="col-md-4 col-sm-6 portfolio-item">

                    <a href="#portfolioModal1" class="portfolio-link" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/roundicons.png" class="w-100" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Round Icons</h4>
                        <p class="text-muted">Graphic Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/startup-framework.png" class="img-fluid" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Startup Framework</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/treehouse.png" class="w-100" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Treehouse</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/golden.png" class="w-100" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Golden</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/escape.png" class="w-100" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Escape</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/dreams.png" class="w-100" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Dreams</h4>
                        <p class="text-muted">3D Design</p>
                    </div>
                </div-->
                
                
            </div>
        </div>
    </section>

    <div class="row no-gutters">
        <div id="myCarousel2" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel2" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel2" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel2" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="15000">
                    <img class="fullscreen-bg-img" src="img/portfolio/大人.jpg" alt="大人">
                  
                </div>
                <div class="carousel-item" data-bs-interval="15000">
                    <div class="container">
                        <video id="photolight" class="fullscreen-bg-img" src="title_video.mp4" alt="墜入地獄" autoplay
                            muted></video>
                      
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="15000">
                    <img class="fullscreen-bg-img" src="img/portfolio/大人.jpg" alt="大人">
                    <div class="container">
                        
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev carousel-dark" type="button" data-bs-target="#myCarousel2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next carousel-dark" type="button" data-bs-target="#myCarousel2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle w-100" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019-2021</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                                        ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam,
                                        recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle w-100" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2021</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                                        ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam,
                                        recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle w-100" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2021</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                                        ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam,
                                        recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle w-100" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2022</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                                        ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam,
                                        recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/envato.jpg" class="w-100 img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/designmodo.jpg" class="w-100 img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/themeforest.jpg" class="w-100 img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/creative-market.jpg" class="w-100 img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" action="/contact" method="POST"
                        enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name"
                                        name="myfile" required
                                        data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email"
                                        name="myfile" required
                                        data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone"
                                        name="myfile" required
                                        data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="from-group">
                                    <input type="file" class="form-control" id="myfile" name="myfile">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required
                                        data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-4">
                    <span class="copyright">Kanzaki.ramenbu@gmail.com</span>
                </div>
                <div class="col-md-4">
                    <ul class="justify-content-center list-group  list-group-horizontal social-buttons">
                        <li class="border-0 list-group-item bg-transparent"><a
                                href="https://www.youtube.com/@HIKU0311"><i class="fa fa-youtube-play"></i></a>
                        </li>
                        <li class="border-0 list-group-item bg-transparent"><a
                                href="https://www.instagram.com/hiku_0311/"><i class="fa fa-instagram"></i></a>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="justify-content-center list-group list-group-horizontal">
                        <li class="list-group-item border-0"> <a
                                href="https://www.youtube.com/@Kanzaki_ramenbu">神崎拉麵部</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- 作品 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-8 ">
                            <br class="modal-body ">
                            <!-- Project Details Go Here -->
                            <h2 style="margin:5px">墜入地獄</h2>
                            <p style="margin:10px" class="text-black">地獄に落ちる</p>
                            <iframe id="YTvideo" width="100%" height="100%"
                                src="//www.youtube.com/embed/si3mIrvyGPY?si=LJ06VlEnSHbg4KNb?enablejsapi=1" title="墜入地獄"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen data-gtm-yt-inspected-4="true"></iframe>
                            <!--YT影片-->
                            <div class="m-2">
                                <!-- 按钮 HTML (触发模态) -->
                                <a href="https://youtu.be/si3mIrvyGPY?si=X_xrntTDHf9wZUON" class="btn btn-dark btn-sm"
                                    data-toggle="modal">前往連結</a>

                                <!-- 模态 HTML -->
                                <!--div id="myModal" class="modal fade">
                                        <div class="modal-dialog">
                                            <div class="modal-content">                  
                                                <div class="modal-body">
                                                  <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe id="cartoonVideo" class="embed-responsive-item" width="560" height="315" src="//www.youtube.com/embed/si3mIrvyGPY?si=LJ06VlEnSHbg4KNb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div-->
                            </div>
                            <p class="item-intro text-muted">「原諒我吧，現在馬上」</p>
                            <p style="margin:5px">原唱:カンザキイオリ</p>
                            <p style="margin:5px">作詞/作曲/編曲:カンザキイオリ</p>
                            <p style="margin:5px">動畫:hiku</p>
                            <p style="margin:5px">翻譯:伊亞修斯(翻譯有根據影片節奏修改)</p>
                            <li class="list-group-item border-0"> <a style="margin:5px"
                                    href="https://home.gamer.com.tw/artwork.php?sn=5235446">原始翻譯</a>
                                </p>
                                <ul style="margin:5px" class="list-inline">
                                    <li>製作日期:2023.4.10 製作內容:PV影片</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i
                                        class="fa fa-times"></i> 關閉視窗</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-8 ">
                            <br class="modal-body ">
                            <!-- Project Details Go Here -->
                            <h2 style="margin:5px">大人</h2>
                            <p class="item-intro text-muted">「我們啊，已經回不去了」</p>
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/et_TFecKFwA?si=x64kDPrNi28awCgK"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                            <!--YT影片-->
                            <div class="m-2">
                                <!-- 按钮 HTML (触发模态) -->
                                <a href="https://youtu.be/et_TFecKFwA?si=_eQIXLLdV7fYTSKi" class="btn btn-dark btn-sm"
                                    data-toggle="modal">前往連結</a>
                                <!-- 模态 HTML -->
                                <!--div id="myModal" class="modal fade">
                                        <div class="modal-dialog">
                                            <div class="modal-content">                  
                                                <div class="modal-body">
                                                  <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe id="cartoonVideo" class="embed-responsive-item" width="560" height="315" src="//www.youtube.com/embed/si3mIrvyGPY?si=LJ06VlEnSHbg4KNb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div-->
                            </div>
                            <!--img class="img-fluid img-centered" src="img/portfolio/roundicons-free.png" alt=""-->

                            <p style="margin:5px">原唱:カンザキイオリ</p>
                            <p style="margin:5px">作詞/作曲/編曲:カンザキイオリ</p>
                            <p style="margin:5px">動畫:hiku</p>
                            <p style="margin:5px">翻譯:伊亞修斯(翻譯有根據影片節奏修改)</p>
                            <li class="list-group-item border-0"> <a style="margin:5px"
                                    href="https://home.gamer.com.tw/artwork.php?sn=5235446">原始翻譯</a>
                                </p>
                                <ul style="margin:5px" class="list-inline">
                                    <li>製作日期:2023.4.10 製作內容:PV影片</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i
                                        class="fa fa-times"></i> 關閉視窗</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="w-100 img-centered" src="img/portfolio/treehouse-preview.png" alt="">
                                <p>Treehouse is a free PSD web template built by <a
                                        href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright
                                    and spacious design perfect for people or startup companies looking to showcase
                                    their apps or other projects.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a
                                        href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.
                                </p>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i
                                        class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="w-100 img-centered" src="img/portfolio/golden-preview.png" alt="">
                                <p>Start Bootstrap's Agency theme is based on Golden, a free PSD website template built
                                    by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Golden is a
                                    modern and clean one page web template that was made exclusively for Best PSD
                                    Freebies. This template has a great portfolio, timeline, and meet your team sections
                                    that can be easily modified to fit your needs.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a
                                        href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.
                                </p>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i
                                        class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="w-100 img-centered" src="img/portfolio/escape-preview.png" alt="">
                                <p>Escape is a free PSD web template built by <a
                                        href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Escape is a one
                                    page web template that was designed with agencies in mind. This template is ideal
                                    for those looking for a simple one page solution to describe your business and offer
                                    your services.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a
                                        href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.
                                </p>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i
                                        class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="w-100 img-centered" src="img/portfolio/dreams-preview.png" alt="">
                                <p>Dreams is a free PSD web template built by <a
                                        href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a
                                    modern one page web template designed for almost any purpose. It’s a beautiful
                                    template that’s designed with the Bootstrap framework in mind.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a
                                        href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.
                                </p>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i
                                        class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <!-- <script src="vendor/bootstrap/js/bootstrap.min.js"></script> -->

    <!-- Plugin JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script> -->

    <!-- Contact Form JavaScript -->
    <!-- <script src="js/jqBootstrapValidation.js"></script> -->
    <!-- <script src="js/contact_me.js"></script> -->

    <!-- Theme JavaScript -->
    <!-- <script src="js/agency.min.js"></script> -->
    <script src="/vendor/vue/vue.min.js"></script>
    <script>
        var myObject = new Vue({
            el: "#portfolio",
            data: { Portfolio: [] }
        })
        $.ajax({
            url: "/portfolio",
            method: "get",
            dataType: "json",
            success: function (data) {
                myObject.Portfolio = data;
            }
        })

        var vueService = new Vue({
            el: "#services",
            data: {
                Services: [
                    { icon: 'fa-youtube-play', title: '影片製作', text: 'PV、MG動畫、宣傳影片' },
                    { icon: 'fa-book', title: '翻譯', text: '日文歌曲翻譯、日文對話訪談文章翻譯' },
                    { icon: 'fa-video-camera', title: '剪輯製作', text: '訪談、教學、遊戲精華' }
                ]
            }
        })


    </script>
</body>

</html>