<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hiku的委託聯絡/作品網站">
    <meta name="author" content="Hiku">

    <title>Hiku</title>
    <!--icon-->
    <link rel="icon" href="img/Hiku_logo_ico.ico" type="icon">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/agency.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
</head>

<body id="page-top" class="">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js">
        $('.one-time').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            adaptiveHeight: true
        });
    </script>
    <!-- Navigation -->
    <nav id="mainNav" class="navbar fixed-top navbar-expand-md navbar-custom bg-dark ">
        <div class="container">
            <div class="row ">
                <div class="col-2 align-middle">
                    <a class="float-start navbar-brand " href="#page-top">
                        <img class="align-top ms-auto" width="20%" src="img/Hikulogo.png" alt="Logo">
                    </a>
                </div>
                <div class="col-10 align-middle ms-auto">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <nav class="float-end navbar-header ">
                        <button type="button" class="navbar-toggler  " data-bs-toggle="collapse"
                            data-bs-target="#bs-example-navbar-collapse-1" style="color: #FFF;">
                            <!-- <span class="navbar-toggler-icon bg-light"> </span> -->
                            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                        </button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class=" collapse navbar-collapse " id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav ">
                                <li>
                                    <a class=" m-3" href="#services">關於我</a>
                                </li>
                                <li>
                                    <a class=" m-3" href="#about">製作影片</a>
                                </li>
                                <li>
                                    <a class=" m-3" href="#portfolio">其他作品</a>
                                </li>
                                <li>
                                    <a class=" m-3" href="#contact">聯絡我</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->

                    </nav>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
    </nav>
    <!-- Header -->
    <!--<header>
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div class="intro-text">
                    <div class="intro-lead-in">Welcome To Hiku's web!</div>
                    <div class="intro-heading">僕らが生きる意味を忘れない</div>
                    <a href="#contact" class=" btn btn-xl">聯絡我們</a>   
                </div>
                <div class="d-flex flex-row-reverse bd-highlight"><img class="img-fluid w-75 d-none d-sm-block "  src="img/Hikulogo.png" alt="Hiku Logo"></div>
                </div> 
                <video class="videobg" autoplay muted loop>
                    <source src="/Bs5_Vue/img/title_video.mp4">
                </video>
        </div>
    </header>-->

    <!--02-->
    <header>
        <div class="row no-gutters">
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="15000">
                        <img id="photolight" class="fullscreen-bg-img" src="img/work/001.jpg" alt="大人">
                        <div class="container">
                            <div class="carousel-caption text-start">
                                <h1>影片剪輯</h1>
                                <p>遊戲精華、教學影片、訪談翻譯</p>
                                <p><a class="btn btn-lg btn-primary" href="#contact">聯絡我</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="15000">
                        <div class="container">
                            <img id="photolight" class="fullscreen-bg-img" src="img/work/002.png" alt="墜入地獄">
                            <div class="carousel-caption">
                                <h1>音樂PV製作</h1>
                                <p>練習製作過多首音樂PV和MV</p>
                                <p><a class="btn btn-lg btn-primary" href="#contact">聯絡我</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="15000">
                        <img id="photolight" class="fullscreen-bg-img" src="img/work/001.jpg" alt="大人">
                        <div class="container">
                            <div class="carousel-caption text-end">
                                <h1>日文翻譯</h1>
                                <p>歌曲、對話、文章翻譯</p>
                                <p><a class="btn btn-lg btn-primary" href="#contact">聯絡我</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center text-white">
                    <h1 class="section-heading ">關於我</h1>
                    <h3 class="section-subheading text-white-50" style="margin:50px">
                        現年21歲。從大學開始接觸設計相關知識，目前已半熟練AE、PR、PS等等軟體基本操作，對於調光調色也有一定基礎。空閒時間則製作有關於日文歌曲的影片及翻譯，目前正在學習3D軟體中。</h3>
                </div>
                <div class="col-lg-12 text-center text-white">
                    <h3 class="section-heading mb-5 ">我可以幫您製作</h3>
                </div>
            </div>
            <div class="row text-center">
                <div v-for="item in Services" class="col-md-4" id="services">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x" style="color:#E9CF6B"></i>
                        <i class="fa fa-stack-1x fa-inverse" v-bind:class="item.icon"></i>
                    </span>
                    <h4 class="service-heading text-white">{{item.title}}</h4>
                    <p class="text-white-50">{{item.text}}</p>
                </div>
            </div>
    </section>

    <!-- 第二部分-1 -->
    <section class="bg-light-gray">
        <div id="about" class="row no-gutters bg-light-gray">
            <div class="container text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">製作集</h2>
                    <h4 class="section-subheading text-muted">各式二創MV、PV影片</h4>
                    <img class="img-fluid" src="img/work/Line.png" alt="Line">
                </div>
                <div id="myCarousel2" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <iframe id="YTvideo" class="pvfullscreen-bg-img"
                                src="//www.youtube.com/embed/et_TFecKFwA?si=S20zGr-rfk6tMzQ0enablejsapi=1" title="大人"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share "
                                allowfullscreen data-gtm-yt-inspected-4="true" cc_lang_pref=zh></iframe>
                        </div>
                        <div class="carousel-item ">
                            <iframe id="YTvideo01" class="pvfullscreen-bg-img"
                                src="//www.youtube.com/embed/si3mIrvyGPY?si=LJ06VlEnSHbg4KNb?enablejsapi=1" title="墜入地獄"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share "
                                allowfullscreen data-gtm-yt-inspected-4="true" cc_lang_pref=zh></iframe>
                        </div>
                        <div class="carousel-item">
                            <iframe id="YTvideo" class="pvfullscreen-bg-img"
                                src="//www.youtube.com/embed/4t8x5Kha1Q0?si=5dhYDEZIz_oZKJrZ" title="人間じゃない癖に"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share "
                                allowfullscreen data-gtm-yt-inspected-4="true" cc_lang_pref=zh></iframe>
                        </div>
                        <div class="carousel-item active">
                            <iframe id="YTvideo" class="pvfullscreen-bg-img"
                                src="//www.youtube.com/embed/RG8enbg5e_w?si=SurzCJpNTes7y9bj?si=5dhYDEZIz_oZKJrZ"
                                title="自由に捕らわれる" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share "
                                allowfullscreen data-gtm-yt-inspected-4="true" cc_lang_pref=zh></iframe>
                        </div>
                    </div>
                    <button onclick="stop01()" class="carousel-control-prev carousel-dark pause01 " type="button"
                        data-bs-target="#myCarousel2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon stopBtn" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button onclick="stop01()" class="carousel-control-next carousel-dark stopBtn" type="button"
                        data-bs-target="#myCarousel2" data-bs-slide="next">
                        <span class="carousel-control-next-icon " aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <script>
                        // to stop the video
                        function stop01() {
                            let video = document.getElementById("YTvideo01")
                            video.contentWindow.postMessage('{"event":"command", "func":"stopVideo", "args":""}', '*');
                        }
                        // to pause the video
                        function pause01() {
                            let video = document.getElementById("YTvideo01")
                            video.contentWindow.postMessage('{"event":"command", "func":"pauseVideo", "args":""}', '*');
                        }
                    </script>

                </div>
            </div>
        </div>

        <div class="text-center">
            <img class="img-fluid" src="img/work/Line.png" alt="Line">
        </div>

        <!--第二部分-2-->
        <div class="row no-gutters bg-light-gray carousel-fade">
            <div class="container text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">字幕動畫</h2>
                    <h3 class="section-subheading text-muted">影片文字動畫</h3>
                </div>
                <div id="myCarousel3" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#myCarousel3" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#myCarousel3" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#myCarousel3" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#myCarousel3" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="600000">
                            <iframe id="YTvideo" class="pvfullscreen-bg-img"
                                src="//www.youtube.com/embed/-ZFT0gx7B5c?si=acWUSXf6GMNRa6qY?si=5dhYDEZIz_oZKJrZ"
                                title="少年少女" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share "
                                allowfullscreen data-gtm-yt-inspected-4="true" cc_lang_pref=zh></iframe>
                        </div>
                        <div class="carousel-item" data-bs-interval="600000">
                            <iframe id="YTvideo01" class="pvfullscreen-bg-img"
                                src="//www.youtube.com/embed/qwzvvzQ4XDQ?si=wbIydIxZr9mpQ88b?enablejsapi=1" title="爆彈"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share "
                                allowfullscreen data-gtm-yt-inspected-4="true" cc_lang_pref=zh></iframe>
                        </div>
                        <div class="carousel-item" data-bs-interval="600000">
                            <iframe id="YTvideo" class="pvfullscreen-bg-img"
                                src="//www.youtube.com/embed/ywfxNWek7pI?si=_N1hpAW8Nh945ulW?si=5dhYDEZIz_oZKJrZ"
                                title="偶像" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share "
                                allowfullscreen data-gtm-yt-inspected-4="true" cc_lang_pref=zh></iframe>
                        </div>
                        <div class="carousel-item" data-bs-interval="600000">
                            <iframe id="YTvideo" class="pvfullscreen-bg-img"
                                src="//www.youtube.com/embed/nQAFMnu9sQk?si=Fp8jMmPPrhhafGHO?enablejsapi=1"
                                title="不器用な男" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share "
                                allowfullscreen data-gtm-yt-inspected-4="true" cc_lang_pref=zh></iframe>
                        </div>
                    </div>
                    <button onclick="stop01()" class="carousel-control-prev carousel-dark pause01 " type="button"
                        data-bs-target="#myCarousel3" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon stopBtn" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button onclick="stop01()" class="carousel-control-next carousel-dark stopBtn" type="button"
                        data-bs-target="#myCarousel3" data-bs-slide="next">
                        <span class="carousel-control-next-icon " aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <script>
                        // to stop the video
                        function stop01() {
                            let video = document.getElementById("YTvideo01")
                            video.contentWindow.postMessage('{"event":"command", "func":"stopVideo", "args":""}', '*');
                        }
                        // to pause the video
                        function pause01() {
                            let video = document.getElementById("YTvideo01")
                            video.contentWindow.postMessage('{"event":"command", "func":"pauseVideo", "args":""}', '*');
                        }
                    </script>
                </div>
            </div>
        </div>

        <div class="text-center">
            <img class="img-fluid" src="img/work/Line.png" alt="Line">
        </div>

        <div id="portfolio" class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">作品集</h2>
                    <h3 class="section-subheading text-muted">PV影片</h3>
                </div>
            </div>
            <div class="g-3 row">
                <div v-for="item in Portfolio" class="col-md-4 col-sm-6 col-xxl-3 portfolio-item">
                    <a v-bind:href="item.href" class="portfolio-link" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img :src="item.imgSrc" class="w-100" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{item.title}}</h4>
                        <p class="text-muted">{{item.subtitle}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- 表單 -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">聯絡我</h2>
                    <h3 class="section-subheading text-white-50">請留下您的資訊跟想要委託的內容</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" action="/contact" method="POST"
                        enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="姓名" id="name" name="myfile"
                                        required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email *" id="email"
                                        name="myfile" required
                                        data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="手機" id="phone" name="myfile"
                                        required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="from-group">
                                    <input type="file" class="form-control" id="myfile" name="myfile">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <textarea class="form-control" placeholder="委託內容簡述(Ex:PV宣傳影片，XX秒)" id="message"
                                        required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">送出內容</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer class="bg-color">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-4">
                    <span class="copyright">Kanzaki.ramenbu@gmail.com</span>
                </div>
                <div class="col-md-4">
                    <ul class="justify-content-center list-group  list-group-horizontal social-buttons">
                        <li class="border-0 list-group-item bg-transparent"><a
                                href="https://www.youtube.com/@HIKU0311"><i class="fa fa-youtube-play"></i></a>
                        </li>
                        <li class="border-0 list-group-item bg-transparent"><a
                                href="https://www.instagram.com/hiku_0311/"><i class="fa fa-instagram"></i></a>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="justify-content-center list-group list-group-horizontal">
                        <li class="list-group-item border-0">
                            <a class="text-dark" href="https://www.youtube.com/@Kanzaki_ramenbu">神崎拉麵部</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- 作品 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-8 ">
                            <h2 style="margin:5px">天空的女武神-瓦爾基里</h2>
                            <p class="item-intro text-muted">遊戲精華</p> 
                            <div class="container text-center">
                                <iframe id="YTvideo" class="pvfullscreen-bg-img"
                                    src="//www.youtube.com/embed/hUzIGDIpdoE?si=N0r-DtKFECrTq4-D?enablejsapi=1"
                                    title="天空的女武神-瓦爾基里" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share "
                                    allowfullscreen data-gtm-yt-inspected-4="true" cc_lang_pref=zh></iframe>
                                <img class="img-fluid" src="img/work/Line.png" alt="Line">
                            </div>
                            <button type="button" class="btn btn-primary my-1" data-bs-dismiss="modal">
                            <i class="fa fa-times "></i> 關閉視窗</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-8 ">
                            <h2 style="margin:5px">神崎拉麵部</h2>
                            <p class="item-intro text-muted">日文訪談、直播精華</p> 
                            <div class="container text-center">
                                <div id="myCarousel4" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#myCarousel4" data-bs-slide-to="0" class="active"
                                            aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#myCarousel4" data-bs-slide-to="1"
                                            aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#myCarousel4" data-bs-slide-to="2"
                                            aria-label="Slide 3"></button>
                                        <button type="button" data-bs-target="#myCarousel4" data-bs-slide-to="3"
                                            aria-label="Slide 4"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" data-bs-interval="600000">
                                            <iframe id="YTvideo" class="pvfullscreen-bg-img"
                                                src="//www.youtube.com/embed/JCV5HqsF6IA?si=SwkTweS65pgpP54l"
                                                title="EP01" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share "
                                                allowfullscreen data-gtm-yt-inspected-4="true" cc_lang_pref=zh></iframe>
                                        </div>
                                        <div class="carousel-item" data-bs-interval="600000">
                                            <iframe id="YTvideo01" class="pvfullscreen-bg-img"
                                                src="//www.youtube.com/embed/v9Pwqrn7MbU?si=TIzzHtvJXH8XGoyy?enablejsapi=1" title="EP02"
                                                frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share "
                                                allowfullscreen data-gtm-yt-inspected-4="true" cc_lang_pref=zh></iframe>
                                        </div>
                                        <div class="carousel-item" data-bs-interval="600000">
                                            <iframe id="YTvideo" class="pvfullscreen-bg-img"
                                                src="//www.youtube.com/embed/8wASbVk7orc?si=vzuyEXm0yAoDM8sN?si=5dhYDEZIz_oZKJrZ"
                                                title="EP03" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share "
                                                allowfullscreen data-gtm-yt-inspected-4="true" cc_lang_pref=zh></iframe>
                                        </div>
                                        <div class="carousel-item" data-bs-interval="600000">
                                            <iframe id="YTvideo" class="pvfullscreen-bg-img"
                                                src="//www.youtube.com/embed/vM5TTcHZXmc?si=UyKnOLlrFmWaY41_?enablejsapi=1"
                                                title="EP04" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share "
                                                allowfullscreen data-gtm-yt-inspected-4="true" cc_lang_pref=zh></iframe>
                                        </div>
                                    </div>
                                    <button onclick="stop01()" class="carousel-control-prev carousel-dark pause01 " type="button"
                                        data-bs-target="#myCarousel4" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon stopBtn" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button onclick="stop01()" class="carousel-control-next carousel-dark stopBtn" type="button"
                                        data-bs-target="#myCarousel4" data-bs-slide="next">
                                        <span class="carousel-control-next-icon " aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                            <img class="img-fluid" src="img/work/Line.png" alt="Line">
                            <button type="button" class="btn btn-primary my-1" data-bs-dismiss="modal">
                            <i class="fa fa-times "></i> 關閉視窗</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-8 ">
                            <h2 style="margin:5px">未來東京</h2>
                            <p class="item-intro text-muted">遊戲預告片</p> 
                            <div class="container text-center">
                                <iframe id="YTvideo" class="pvfullscreen-bg-img"
                                    src="//www.youtube.com/embed/1nuWJI3gmWU?si=1bWR3LWL7zFTM_Um?enablejsapi=1"
                                    title="墜入地獄" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share "
                                    allowfullscreen data-gtm-yt-inspected-4="true" cc_lang_pref=zh></iframe>
                                <img class="img-fluid" src="img/work/Line.png" alt="Line">
                            </div>
                            <button type="button" class="btn btn-primary my-1" data-bs-dismiss="modal">
                            <i class="fa fa-times "></i> 關閉視窗</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-8 ">
                            <h2 style="margin:5px">次元圖書館 EP.1 白魔法師</h2>
                            <p class="item-intro text-muted">電影式剪輯</p> 
                            <div class="container text-center">
                                <iframe id="YTvideo" class="pvfullscreen-bg-img"
                                    src="//www.youtube.com/embed/E4UVYZuaTlQ?si=LJvv3-XxHurq2uU9?si=LJ06VlEnSHbg4KNb?enablejsapi=1"
                                    title="墜入地獄" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share "
                                    allowfullscreen data-gtm-yt-inspected-4="true" cc_lang_pref=zh></iframe>
                                <img class="img-fluid" src="img/work/Line.png" alt="Line">
                            </div>
                            <button type="button" class="btn btn-primary my-1" data-bs-dismiss="modal">
                            <i class="fa fa-times "></i> 關閉視窗</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-8 ">
                            <h2 style="margin:5px">【練習PV】唱</h2>
                            <p class="item-intro text-muted">練習影片</p> 
                            <div class="container text-center">
                                <iframe id="YTvideo" class="pvfullscreen-bg-img"
                                    src="//www.youtube.com/embed/DZsOONsPYVU?si=EE9w8o5xX3F4-NJw?enablejsapi=1"
                                    title="【練習PV】唱 /Ado" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share "
                                    allowfullscreen data-gtm-yt-inspected-4="true" cc_lang_pref=zh></iframe>
                                <img class="img-fluid" src="img/work/Line.png" alt="Line">
                            </div>
                            <button type="button" class="btn btn-primary my-1" data-bs-dismiss="modal">
                            <i class="fa fa-times "></i> 關閉視窗</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-8 ">
                            <h2 style="margin:5px">對不起 不能陪你分口紅了</h2>
                            <p class="item-intro text-muted">廢片/搞笑影片</p> 
                            <div class="container text-center">
                                <iframe id="YTvideo" class="pvfullscreen-bg-img"
                                    src="//www.youtube.com/embed/fLwCUBGu3YI?si=FagKeZkOhBBwzMbw?enablejsapi=1"
                                    title="對不起 不能陪你分口紅了" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share "
                                    allowfullscreen data-gtm-yt-inspected-4="true" cc_lang_pref=zh></iframe>
                                <img class="img-fluid" src="img/work/Line.png" alt="Line">
                            </div>
                            <button type="button" class="btn btn-primary my-1" data-bs-dismiss="modal">
                            <i class="fa fa-times "></i> 關閉視窗</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Portfolio Modal 7 -->
    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-8 ">
                            <h2 style="margin:5px">《新楓之谷》破百顆星火爆洗海外裝!竟然連續出好幾次超頂潛能!?</h2>
                            <p class="item-intro text-muted">遊戲精華</p> 
                            <div class="container text-center">
                                <iframe id="YTvideo" class="pvfullscreen-bg-img"
                                    src="//www.youtube.com/embed/LO2bHka0DLA?si=mgK2Db8KrEIfTm-l"?enablejsapi=1
                                    title="遊戲精華" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share "
                                    allowfullscreen data-gtm-yt-inspected-4="true" cc_lang_pref=zh></iframe>
                                <img class="img-fluid" src="img/work/Line.png" alt="Line">
                            </div>
                            <button type="button" class="btn btn-primary my-1" data-bs-dismiss="modal">
                            <i class="fa fa-times "></i> 關閉視窗</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Portfolio Modal 8 -->
    <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-8 ">
                            <h2 style="margin:5px">《新楓之谷》聖誕節年末大放送!拉400多張天氣通通送給大家</h2>
                            <p class="item-intro text-muted">遊戲精華</p> 
                            <div class="container text-center">
                                <iframe id="YTvideo" class="pvfullscreen-bg-img"
                                    src="//www.youtube.com/embed/tj1yIZKN-z4?si=mknN52LlOkZejzyz"?enablejsapi=1
                                    title="遊戲精華" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share "
                                    allowfullscreen data-gtm-yt-inspected-4="true" cc_lang_pref=zh></iframe>
                                <img class="img-fluid" src="img/work/Line.png" alt="Line">
                            </div>
                            <button type="button" class="btn btn-primary my-1" data-bs-dismiss="modal">
                            <i class="fa fa-times "></i> 關閉視窗</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <!-- <script src="vendor/bootstrap/js/bootstrap.min.js"></script> -->

    <!-- Plugin JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script> -->

    <!-- Contact Form JavaScript -->
    <!-- <script src="js/jqBootstrapValidation.js"></script> -->
    <!-- <script src="js/contact_me.js"></script> -->

    <!-- Theme JavaScript -->
    <!-- <script src="js/agency.min.js"></script> -->
    <script src="/vendor/vue/vue.min.js"></script>
    <script>
        var myObject = new Vue({
            el: "#portfolio",
            data: { Portfolio: [] }
        })
        $.ajax({
            url: "/portfolio",
            method: "get",
            dataType: "json",
            success: function (data) {
                myObject.Portfolio = data;
            }
        })

        var vueService = new Vue({
            el: "#services",
            data: {
                Services: [
                    { icon: 'fa-youtube-play', title: '影片製作', text: 'PV、MG動畫、宣傳影片' },
                    { icon: 'fa-book', title: '翻譯', text: '日文歌曲翻譯、日文對話訪談文章翻譯' },
                    { icon: 'fa-video-camera', title: '剪輯製作', text: '訪談、教學、遊戲精華' }
                ]
            }
        })


    </script>
</body>

</html>